<div class="container">

  {{#each data.GeneralInfos}}
  <div class="row text-center">
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
      <p>{{name}} {{description}}</p>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xl-1"></div>
    <div class="col-xl-4">
      <p>Phone: {{phone}} {{description}}</p>
    </div>
    <div class="col-xl-6">
      <p>Adress: {{address}}</p>
    </div>
    <div class="col-xl-1"></div>
  </div>

  {{/each}}
  <hr>
  <div class="row mb-4">
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
      <h2 id="exp">Job Exprience</h2>
    </div>
    <div class="col-xl-1"></div>
  </div>

  <div id="printYa">
    {{#each data.Experiences}}
    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-xl-3 text-center">
        <p id="dates">{{entryDate}}-{{leaveDate}}</p>
      </div>

      <div class="col-xl-7">
        <p><strong>{{company}}</strong></p>
      </div>
      <div class="col-xl-1"></div>
    </div>

    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-xl-3 text-center">
        <p>{{city}}, {{state}}</p>
      </div>

      <div class="col-xl-7">
        <p>{{jobTitle}}</p>
      </div>
      <div class="col-xl-1"></div>
    </div>

    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-xl-3">
      </div>

      <div class="col-xl-7">
        <p>{{description}}</p>
      </div>
      <div class="col-xl-1"></div>
    </div>

    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-xl-3">
      </div>

      <div class="col-xl-7">
        <ul>
          <li>{{task1}}</li>
        </ul>
      </div>
      <div class="col-xl-1"></div>
    </div>

    <!--<form action="/deleteexp/{{id}}" method="POST">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>-->

    {{/each}}
  </div>


  <hr>
  <div class="row mb-4">
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
      <h2>Academic</h2>
    </div>
    <div class="col-xl-1"></div>
  </div>

  {{#each data.Studies}}

  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-3 text-center">
      <p>{{entryDateSchool}}-{{leaveDateSchool}}</p>
    </div>

    <div class="col-xl-7">
      <p><strong>{{school}}</strong></p>
    </div>
    <div class="col-xl-1"></div>
  </div>


  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-3 text-center">
      <p>{{citySchool}}, {{stateSchool}}</p>
    </div>

    <div class="col-xl-7">
      <p>{{degree}}</p>
    </div>
    <div class="col-xl-1"></div>
  </div>

  <!--<form action="/deleteexp/{{id}}" method="POST">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>-->

  {{/each}}
  <hr>
  <div class="row mb-4">
    <div class="col-xl-1"></div>
    <div class="col-xl-5">
      <h2>Skills</h2>
    </div>
    <div class="col-xl-5">
      <h2>Languages</h2>
    </div>
    <div class="col-xl-1"></div>
  </div>

  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-5">
      {{#each data.Skills}}
      <p><strong>{{skillName}}</strong>: {{skillLevel}}</p>
      <!--<form action="/deleteexp/{{id}}" method="POST">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>-->
      {{/each}}
    </div>

    <div class="col-xl-5">
      {{#each data.Languages}}
      <p><strong>{{language}}</strong>: {{languageLevel}}</p>
      <!--<form action="/deleteexp/{{id}}" method="POST">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>-->
      {{/each}}
    </div>
    <div class="col-xl-1"></div>
  </div>

  <a type="submit" id="printPDF1" class="btn btn-info">print</a>
   <a type="submit" id="printPDF2" class="btn btn-info">print</a>



</div>